body > header {
  height: 400px;
  width: 100vw;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); 
}



header h2 {
  margin: 10px;

}

#profile-name{
  color: black;
  
}

.normal{
  font-weight: 300;
  
}
/* .small{
  font-size: 10px;
  color: black;
} */